body {
	background-image: linear-gradient(to right, #ffafbd, #ffc3a0);
}

#addBtn {
	margin-right: 10px;
}

h1 {
	font-size: 70px;
    color: white; 
    font-family: 'Poetsen One', sans-serif;
    text-shadow: 1px 1px #fe4902, 
                 3px 3px #fe4902, 
                 4px 4px #fe4902;
}

.delete-box:checked {
	background-color: red;
}

.delete-box {
	margin-right: 10px;
}

.list-group-item {
	margin-bottom: 10px;

}

#taskList {
	font-family: 'Polka B', sans-serif;
	width: 90%;
}

@media only screen and (min-width: 768px) {
	.row {
		margin-right: 50px !important;
		margin-left: 50px !important;
	}

	#taskList {
		margin-right: 60px !important;
		margin-left: 60px !important;
		font-size: 25px !important;
		width: 65% !important;
	}

	h1 {
		font-size: 110px;
	}
}

